<h1><b>Gallery</b></h1>
<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile> <img src="https://static.toiimg.com/thumb/msid-86989484,width-1280,resizemode-4/86989484.jpg" alt=""> </mat-grid-tile>
    <mat-grid-tile> <img src="https://wallpapers.com/images/featured/indian-cricket-g8wl4uwm62bu7830.jpg" alt=""> </mat-grid-tile>
    <mat-grid-tile> <img src="https://www.zoomnews.in/uploads_2019/newses/team-india_658035778_sm.webp" alt=""> </mat-grid-tile>
    <mat-grid-tile> <img src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2019/06/gettyimages-1151616716-1559646643.jpg" alt=""> </mat-grid-tile>
    <mat-grid-tile> <img src="https://i.pinimg.com/1200x/6e/38/57/6e3857095cac20b946271941053cc269.jpg" alt=""> </mat-grid-tile>
    <mat-grid-tile> <img src="https://i.pinimg.com/1200x/20/13/4a/20134a834811ea05ac67d7dcf9dea206.jpg" alt=""> </mat-grid-tile>
  </mat-grid-list>