<!-- card -->
<div class="card">
    <mat-card>
        <app-card
        bg="red"
        icon="import_contacts"
        content="Matches"
        total="40000"
        ></app-card>
    </mat-card>

    <mat-card>
        <app-card
        bg="purple"
        icon="home"
        content="T20 Matches"
        total="3000"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="green"
        icon="person"
        content="World Cup"
        total="50"
        ></app-card>
    </mat-card>
    <mat-card>
        <app-card
        bg="blue"
        icon="group"
        content="Test Matches"
        total="5000"
        ></app-card>
    </mat-card>
</div>
<!-- areachart -->
<div>
<app-area-chart></app-area-chart>
</div>
<!-- table -->
<!-- piechart -->
<div class="parent">
    <app-table></app-table>
    <app-pie-chart></app-pie-chart>
</div>